# Глобальные настройки приложения
[SocksToEth]
# Папка для хранения логов (внутри будут создаваться файлы ГГГГ-ММ-ДД.log)
log_dir = Logs
# Сколько дней хранить старые логи (будут удаляться автоматически)
log_max_backups = 30
# Детальное логирование в файл (true - писать всё из терминала, false - только системные события и ошибки)
verbose_log = false

# Пример настройки первого прокси-сервера
[Proxy1]
# Порт, который будет слушать этот SOCKS5 сервер
listen_port = 1080
# Имя сетевого интерфейса (Ethernet, Wi-Fi, tun0) или конкретный локальный IP адрес
interface = Ethernet
# Разрешить ли использование IPv6 (по умолчанию false - блокирует запросы IPv6 на корню)
ipv6_enable = false
# Обычный DNS сервер (UDP:53), который будет использоваться только для этого прокси
# dns_basic = 8.8.8.8:53
# Зашифрованный DNS (DoH или DoT). DoH: https://... , DoT: tls://... или :853
# Если прописано dns_crypto, dns_basic будет игнорироваться.
dns_crypto = https://dns.google/dns-query

# Пример настройки второго прокси-сервера через VPN адаптер
[Proxy2]
listen_port = 1081
interface = tun0
ipv6_enable = false
dns_crypto = tls://common.dot.dns.yandex.net:853
